version: '3'

services:
  cassandra:
    image: cassandra:4.0.3
    container_name: cassandra
    volumes:
      - cassandra-data:/var/lib/cassandra
    healthcheck:
      test: ["CMD-SHELL", "cqlsh"]
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - "9042:9042"
      - "9160:9160"
    environment:
      - CASSANDRA_CLUSTER_NAME=cassandra-cluster
      - CASSANDRA_SEEDS=cassandra
      - CASSANDRA_DC=datacenter1
      - CASSANDRA_RACK=rack1

  akka-api:
    image: ayari17/akka-api:1.0.0
    container_name: akka-api
    ports:
      - "8080:8080"
    depends_on:
      cassandra:
        condition: service_healthy
    environment:
      - CASSANDRA_HOST=cassandra
      - CASSANDRA_PORT=9042
      - HOST=0.0.0.0
      - PORT=8080

volumes:
  cassandra-data:
    driver: local